<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/fontawesome-free-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/SanPhamAD.css">
    <script src="../Js/angular.min.js"></script>
    <script src="../Js/global.js"></script>
    <script src="../Js/Khach.js"></script>
    <title>Document</title>
</head>
<body  ng-app="AppQuanTri" ng-controller="KhachCtrl">
    <div class="main" >
        <header class="header">
            <div class="grid">
                <div class="grid__row header-grid">
                    <div class="welcome">
                        <p class="welcome-text">Xin chào<i class="fa-solid fa-sort-down"></i></p>
                        <div class="info">
                            <ul class="info-list">
                                <li class="info-item">
                                    <a href="#" class="info-link">
                                        <i class="fa-solid fa-user "></i>Tài khoản
                                    </a>
                                </li>
                                <li class="info-item">
                                    <a href="#" class="info-link">
                                        <i class="fa-solid fa-right-from-bracket"></i>Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="content">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__col1">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="fa-solid fa-dumpster icons-nav"></i>Tổng quan
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../admin/LoaiSP.html" class="nav-link">
                                    <i class="fa-solid fa-boxes-stacked icons-nav"></i>Loại sản phẩm
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../admin/SanPham.html" class="nav-link">
                                    <i class="fa-solid fa-barcode icons-nav"></i>Sản phẩm
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../admin/KhachHang.html" class="nav-link">
                                    <i class="fa-solid fa-users icons-nav"></i>Khách hàng
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../admin/HoaDonBan.html" class="nav-link">
                                    <i class="fa-solid fa-cart-shopping icons-nav"></i>Hóa đơn bán
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="../admin/TaiKhoan.html" class="nav-link">
                                    <i class="fa-solid fa-newspaper icons-nav"></i>Tài khoản
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="fa-solid fa-gear icons-nav"></i>Thiết lập
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__col11">
                        <div class="grid__row">
                            <div class="grid__col11-col4">
                                <div class="col4-infoadmin">
                                    <div class="col4-infoadmin-title">
                                        <h3><i class="fa-solid fa-users"></i>Nhập thông tin khách hàng</h3>
                                    </div>
                                    <form action="">
                                        <div class="input">
                                            <label for="">Mã khách hàng:</label><br>
                                            <input type="text" ng-model = "khach.maKhachHang" placeholder="Mã khách hàng tự tăng..." id="makh">
                                        </div>
                                        <div class="input">
                                            <label for="">Tên khách hàng:</label><br>
                                            <input type="text" ng-model = "khach.tenKhachHang" placeholder="Nhập tên khách hàng..." id="tenkh">
                                        </div>
                                        <div class="input">
                                            <label for="">Giới tính:</label><br>
                                            <input type="text" ng-model = "khach.gioiTinh" placeholder="Nhập giới tính khách hàng..." id="gioiTinh">
                                        </div>
                                        <div class="input">
                                            <label for="">Số điện thoại:</label><br>
                                            <input type="text" ng-model = "khach.sdt" placeholder="Nhập số điện thoại khách hàng..." id="sdt">
                                        </div>
                                        <div class="input">
                                            <label for="">Email:</label><br>
                                            <input type="email" ng-model = "khach.email" placeholder="Nhập email khách hàng..." id="email">
                                        </div>
                                        <div class="input">
                                            <label for="">Địa chỉ:</label><br>
                                            <input type="text" ng-model = "khach.diaChi" placeholder="Nhập địa chỉ khách hàng..." id="diachi">
                                        </div>
                                    </form>
                                    <hr style="margin-top: 20px; margin-bottom: 20px; background: #4B7BE5;">
                                    <div class="btn-product">
                                        <input type="button" class="add-product" ng-click="addkhach(khach.maKhachHang)" value="{{btntextkh}}"></input>
                                        <input type="button" class="update-product" ng-click="updateKh()" value="{{btnudkh}}"></input>

                                        
                                    </div>
                                </div>
                            </div>
                            <div class="grid__col11-col8" >
                                <div class="col8-title">
                                    <h3><i class="fa-solid fa-users"></i>Danh sách khách hàng</h3>
                                </div>
                                <div class="col8-info">
                                    <div class="col8-input">
                                        <input type="text" id = "getbyidkh" placeholder="Nhập mã , tên, số điện thoại khách hàng" style="width: 70%;padding: 0 10px; height: 40px; margin-top: 10px;">
                                        <button class="btn-search"><i class="fa-solid fa-magnifying-glass" style="margin-right: 5px;"></i>Tìm kiếm</button>
                                    </div>
                                    <div class="table">
                                        <table>
                                            <thead id = "tablekh">
                                                <tr>
                                                    <th>Mã khách hàng</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Giới tính</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Email</th>
                                                    <th>Thao tác</th>
                                                    
                                                </tr>

                                                <tr ng-repeat ="kh in listKhach">
                                                    <td>{{kh.maKhachHang}}</td>
                                                    <td>{{kh.tenKhachHang}}</td>
                                                    <td>{{kh.sdt}}</td>
                                                    <td>{{kh.gioiTinh === "True" ? "Nam": "Nữ"}}</td>
                                                    <td>{{kh.diaChi}}</td>
                                                    <td>{{kh.email}}</td>
                                                    <td>
                                                        <button class="update-sanpham" onclick="UpdatekhClick()"> <i class="fa-solid fa-pen-to-square fa-lg"></i></button>
                                                        <button class="delete-sanpham" ng-click="Deletekh(kh.maKhachHang)"><i class="fa-solid fa-trash-can fa-lg"></i> </button>
                                                    </td>
                                                </tr>
                                            </thead>
                                           
                                        </table>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        const UpdatekhClick = () => {
        var table = document.getElementById('tablekh');    
        for(var i = 1; i < table.rows.length; i++)
        {
                table.rows[i].onclick = function()
                {
                            //rIndex = this.rowIndex;
                            document.getElementById("diachi").value = this.cells[4].innerHTML;
                            document.getElementById("makh").value = this.cells[0].innerHTML;
                            document.getElementById("tenkh").value = this.cells[1].innerHTML;
                            document.getElementById("sdt").value = this.cells[2].innerHTML;
                            document.getElementById("gioiTinh").value = this.cells[3].innerHTML;
                            document.getElementById("email").value = this.cells[5].innerHTML;
                };
        }

    }

    </script>
    
</body>
</html>